@charset "UTF-8";

/**************************************
       PukiWiki Additional CSS
***************************************/

/**************  BASE *****************/

body{
    color: #666;
    margin: 0;
    font-size:100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
    font-weight: normal;
}

a:link{
    background-color: transparent;
    color: #1A237E ;
}
a:active{
    background-color: transparent;
    color: #1565C0;
}
a:visited {
    background-color: transparent;
    color: #4A148C;
}
a:hover {
    color: #58F;
}

h1,h2,h3,h4,h5,h6 {
    border: none;
    padding: 0;
    margin-bottom: 0.5rem;
    font-family:inherit;
    background-color:transparent;
    color: #333;
}

p {
    margin-bottom: 0.5rem;
}

dl.list1 {
    margin: 1rem 0 ;
    padding: 0;
}

dt {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight:bold;
}

dd {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

ul,ol {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0px !important;
    padding-left: 16px;
}

a.note_super{
    font-size: 0.75rem;
    vertical-align: top;
}

div.jumpmenu {
    visibility:hidden;
}

hr {
    border:none;
    border-top: dotted 1px #CCCCCC;
    height: 1px
}

hr.note_hr {
    visibility:hidden;
}

/* aname.inc.php */
.anchor_super {
    visibility:hidden;
}

/* hr.inc.php */
hr.short_line {
    width: 100%;
    height: 1px;
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: #afafaf;
    border: none;
}

/* image.inc.php ref.inc.php */
div.img_margin {
    margin:0;
}

/***************** LAYOUT ******************/

/***** HEADER *****/

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 4rem;
    background: #666;
    box-shadow: 0 3px 0.3125rem rgba(0,0,0,.4);
    z-index: 999;
}

#logo {
    position: absolute;
    top: 1rem;
    left: 3rem;;
    width: 2rem;
}

header h1.title {
    position: absolute;
    /*  top: 1.2rem; */
    height: 100%;
    left: 7rem;
    right: 16rem;
    margin: 0;
    padding: 0;
    /*  line-height: 180%; */
    font-size: 1.5rem;
    color: #FFF;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

@media only screen and (max-width: 1024px) {
    header h1.title {
        right: 4rem;
    }
}

header h1 div{
    margin: auto 0rem;
}

header h1.title a {
    color: #FFF;
}

div#navigator  {
    /* text-align: left; */
    top   : 1.5rem;
    right : 1.5rem;
    padding: 0rem 0rem 0rem 0rem;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

div#navigator div.navigator-right {
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#searchBox form {
    position: absolute;
    top: 1.25rem;
    right: 3rem;
    height: 25px;
    display: flex;
}

@media only screen and (max-width: 1024px) {
    #searchBox form {
        display: none;
    }
}

#searchBox form label {
    display: none;
}

#searchBox input[name="word"] {
    font-size: 0.8em;
    width: 96%;
    /* width: 96% !important;     */
}

#searchBox input[type="submit"] {
    display: none;
}

#rightbar {
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    /* min-width: 12rem; */
    min-width: 200px;
    width: 200px;
    padding: 2rem;
    /* overflow-x: hidden; /\* Disable horizontal scroll *\/ */
    overflow: hidden;
    white-space: nowrap;
    padding-top: 2rem;
    padding-bottom: 2rem;    
    font-size: 0.8rem;
    z-index: 99;
    background-color: #EEE;
}

/***** READ MODE CONTAINER *****/

#readMode {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1024px) {
    #readMode {
        min-width: 16rem;
        display: block;
    }
}

/* NAVIGATION */

/* The button used to open the sidebar */
.topbarMenuButton {
  font-size: 30px;
  background-color: #666;
  color: white;
  width: 2em;
  height: 100%;
  margin-left:  auto;
  justify-content: center;
  align-items: center;
  z-index: 999;   
  border: none;
  display: none;
}

@media only screen and (max-width: 1024px) {
    .menuButton {
        display: none;
    }
    .topbarMenuButton {
        display: flex;
    }
}

.topbarMenuButton:hover,
.menuButton:hover {
  background-color: #ccc;
}

.menuButton {
    margin: auto 0;
    font-size: 1.5rem;
    color: white;    
    background-color: #666;
    border: none;
}

#menuList .menuListPadding {
    padding: 30px 30px 30px 30px;
    width: 180px;
}

#menuList {
    transition: 0.5s;
    width: 240px;
    overflow: hidden;
    background-color: #EEE;
    font-size: 0.8rem;
    z-index: 99;
}
#menuList table {
    border-spacing: 0px;
}

#menuList.close {
    width: 0;
}

@media only screen and (max-width: 1024px) {
    #menuList {
        position: absolute;
        background-color: #DDD;
        opacity: 0.96;
    }

    #menuList .closebtn {
        display: none;
    }
}

/* When you mouse over the navigation links, change their color */
#menuList a:hover {
  color: #f1f1f1;
}

#menuList h2 { font-size: 1rem;}
#menuList h5 { font-size: 1rem;}
#menuList ul { margin-bottom: 0.5rem;}
#menuList li { margin-bottom: 0.25rem;}

/* Main Level */
#menuList ul       { margin-left:  -8px !important;}
#menuList ul ul    { margin-left: -10px;}
#menuList ul ul ul { margin-left: -15px;}

/* MAIN CONTENT */

#article {
    width: calc(100% - 300px);
    transition: 0.5s;
    padding: 2rem;
}

#article.close-menu {
    width: calc(100% - 65px);
}

@media only screen and (max-width: 1024px) {
    #article {
        transition: 0s;
        width: calc(100% - 65px);
    }
}

#article #main {
    padding-top: 20px;
}

#main h1, #main h2, #main h3,
#main h4, #main h5, #main h6 {   
    padding-top: 80px;
    margin-top: -80px;
}

#main .anchor_super {
    padding-top: 80px;
    margin-top: -80px;
}

#main div {
    line-height: 140%;
}

/* #main h3{ */
/*     padding-bottom: 0.5rem; */
/*     border-bottom: 1px dotted gray; */
/* } */

/* #main h2{ */
/*     padding-bottom: 0.2rem; */
/*     border-bottom: 5px double #BABABA; */
/* } */

#main li,
#main p {
    margin-top: 0rem;
    /* font-size: 1.0rem; */
    line-height: 150%;
    text-align: justify;
}

#main img {
    max-width: 100%;
    height: auto;
}

#main iframe {
    display: block;
}

#main textarea,
#main input {
    max-width: 90% !important;
}

/* note attach lastmodified related */

#note {
    margin-bottom: 1rem !important;
}

#attach {
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

#lastmodified {
    font-size:0.75rem;
    margin-bottom: 1rem;
}

#related {
    padding: 0 3rem;
    font-size:0.75rem;
    margin-bottom: 1rem;
}


/***** EDIT MODE CONTAINER *****/

#editMode {
    width: 95%;
    /* max-width: 960px; */
    margin: 1.5rem auto;
}

/* @media only screen and (max-width: 1024px) { */
/*   #editMode { */
/*     width: 90%; */
/*     margin: 1.5rem auto; */
/*   } */
/* } */

#editMode textarea{
    display: block;
    width: 100% !important;
    line-height: 150%;
}

#editMode li:first-child {
    list-style-type: none;
}

/* #editMode input[name="preview"]{ */
/*   display: none; */
/* } */

/***** FOOTER *****/

footer {
    padding: 3rem;
    background: #EEE;
}

div#toolbar {
    max-width:500px;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    display:flex;
    justify-content: space-evenly;
}

div#signature {
    font-size:0.75rem;
    text-align:center;
}

/* CODEMIRROR */
.CodeMirror-scroll {
    max-height: 800px;
}

.cm-s-default span.cm-keyword {
    color: #708;
}
.cm-s-default .cm-atom {
    color: #219;
}
.cm-s-default .cm-number {
    font-family: monospace;    
    color: #164;
}
.cm-s-default .cm-def {
    color: #00f;
}
.cm-s-default .cm-variable-2 {
    font-family: monospace;    
    color: #05a;
}
.cm-s-default .cm-type, .cm-s-default .cm-variable-3 {
    font-family: monospace;    
    color: #085;
}
.cm-s-default .cm-comment {
    font-family: monospace;
    color: #a50;
}
.cm-s-default .cm-string {
    font-family: monospace;    
    color: #a11;
}
.cm-s-default .cm-string-2 {
    font-family: monospace;
    color: #f50;
}
.cm-s-default .cm-meta {
    color: #555;
}
.cm-s-default .cm-qualifier {
    color: #555;
}
.cm-s-default .cm-builtin {
    font-family: monospace;    
    color: #30a;
}
.cm-s-default .cm-bracket {
    font-family: monospace;
    color: #997;
}
.cm-s-default .cm-tag {
    color: #170;
}
.cm-s-default .cm-attribute {
    color: #00c;
}
.cm-s-default .cm-hr {
    color: #999;
}
.cm-s-default .cm-link {
    color: #00c;
}
.cm-s-default .cm-error {
    color: red;
}
.cm-invalidchar {
    color: red;
}

/* The switch - the box around the slider */
pre label.switch {
    text-align: right;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
pre .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6691d9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6691d9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}


/* CODE BLOCK */

#main pre {
    margin-top: 1em;
    margin-bottom: 1em;
    background: #22272e;
    color: #cdd9e5;
    border: none;
    padding: 0rem;
    overflow-x: auto;
    overflow: initial;
    white-space: pre;
    font-size: 0.9rem;
}

#main pre code {
    display: block;
    overflow-x: auto;
    padding: 0em 1em 1em 1em;
}

#main pre code.hljs-ln-outer-code {
    padding: 0em 1em 1em 0em;    
}

#main pre div.hljs-ln-n {
    line-height: 100%;
}

#main pre table.hljs-ln {
    table-layout: fixed;
    border-collapse: collapse;
    width: max-content;
    overflow: initial;
    margin: 0;
}

#main pre table.hljs-ln td,
#main pre table.hljs-ln tr:nth-child(n)
{
    padding: 0 0 0 0;
    background-color: transparent;
    border: none;
}

#main pre table.hljs-ln td.hljs-ln-code {
    width: auto;
    padding-left: 0.8em;
}

#main pre table.hljs-ln td.hljs-ln-numbers {
    width: 3em;
    display: table-cell;
    color: rgb(200, 195, 188);
    text-align: right;
    vertical-align: top;
    padding-top: 2px;
    padding-right: 8px;
    border-right: 1px solid #999;
}

/* Rounded sliders */
pre .slider.round {
  border-radius: 30px;
}

pre .slider.round:before {
  border-radius: 50%;
}

pre .code-header {
    display: flex;
    width: 100%;
    padding:0.5em;
    /* background-color: #22272e; */
    justify-content: space-between;
}

pre .code-header .hljs-label {
    margin: 5px 15px;
    color: white;
}

pre .code-header .switch {
    margin: 5px 15px;    
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
pre {
    scrollbar-width: auto;
    scrollbar-color: #cccccc #24292e;
}

/* Chrome, Edge, and Safari */
pre ::-webkit-scrollbar {
    width: 13px;
    background: #24292e;
  height: 13px;
}

pre ::-webkit-scrollbar-thumb {
  height: 4px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #cccccc;
  -webkit-border-radius: 16px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

pre ::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

pre ::-webkit-scrollbar-corner {
  background-color: transparent;
}

.hljs-comment,
.hljs-punctuation {
  color: #768390;
}

.hljs-attr,
.hljs-attribute,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #6cb6ff;
}

.hljs-variable,
.hljs-literal,
.hljs-number,
.hljs-doctag {
  color: #f69d50;
}

.hljs-params {
  color: #cdd9e5;
}

.hljs-function {
  color: #dcbdfb;
}

.hljs-class,
.hljs-tag,
.hljs-title,
.hljs-built_in {
  color: #8ddb8c;
}

.hljs-keyword,
.hljs-type,
.hljs-builtin-name,
.hljs-meta-keyword,
.hljs-template-tag,
.hljs-template-variable {
  color: #f47067;
}

.hljs-string,
.hljs-undefined {
  color: #96d0ff;
}

.hljs-regexp {
  color: #96d0ff;
}

.hljs-symbol {
  color: #6cb6ff;
}

.hljs-bullet {
  color: #f69d50;
}

.hljs-section {
  color: #6cb6ff;
  font-weight: bold;
}

.hljs-quote,
.hljs-name,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #8ddb8c;
}

.hljs-emphasis {
  color: #f69d50;
  font-style: italic;
}

.hljs-strong {
  color: #f69d50;
  font-weight: bold;
}

.hljs-deletion {
  color: #ff938a;
  background-color: #78191b;
}

.hljs-addition {
  color: #8ddb8c;
  background-color: #113417;
}

.hljs-link {
    color: #96d0ff;
    font-style: underline;
}
